<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Login</title>
</head>
<body>
    <h1>Connexion Cantina</h1>
    {% if request.args.get('error') == '1' %}
        <p>L'identifiant ou le mots de passe est incorrecte !</p>
    {% endif %}
    <form method="post" action="#">
        <label>
            Nom d'utilisateur :
            <input type="text" name="username" required>
        </label><br>
        <label>
            Mots de passe :
            <input type="password" name="password" required>
        </label><br>
        <button type="submit">
            Se connecter
        </button>
    </form>
</body>
</html>