<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Login</title>
</head>
<body class="has-text-centered">
    <h1 class="is-size-1">Cantina - Mon Compte</h1><br>
    <div class="is-vcentered is-centered">
        <div id="main">
            <h1 class="is-size-3 is-underlined">Principale</h1>
            <div class="is-size-5">
                <p>Nom d'utilisateur: {{ user_data[2] }}</p>
                <p>Mots de passe: <a href="#">Modifier le mots de passe</a></p>
                <p>Permission d'administrateur: {% if user_data[5] == 1 %}Oui{% else %}Non{% endif %}</p>
            </div>
        </div> <br>
        <div id="nephelees">
            <h1 class="is-size-3 is-underlined">Néphélées</h1><br>
            <div class="is-size-5">
                <p>Mes fichiers sont stockés dans: {{ user_data[6] }}</p>
                {% if folder_size == 'error' %}
                    <p class="has-text-danger">Une erreur est survenue lors de la récupération de la taille du dossier. Le dossier existe-t-il?</p>
                {% else: %}
                    <p>La taille de mon dossier est de {{ folder_size }}</p>
                {% endif %}
            </div>
        </div>
        <div id="hermes">
            <h1 class="is-size-3 is-underlined">Hermes</h1><br>
            <div class="is-size-5">
                <p>Nombre de message que vous avez envoyé: {{ messsage_data[1] }}</p>
                <p>Nombre de message que vous avez reçu: {{ messsage_data[2] }}</p>
            </div>
        </div>
    </div>
</body>
</html>