<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Olympe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/table.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='JS/Administration/show_form_module_edit.js') }}"></script>
</head>
<body>
    <h1>Cantina  - Olympe - Admin Mode</h1>
    <a href="{{ url_for('show_modules') }}">All modules</a><br>
    <p id="module-data">
        ID: {{ modules_info[0] }}<br>
        Nom: {{ modules_info[1] }}<br>
        Url: <a href="{{ modules_info[2] }}">{{ modules_info[2] }}</a><br>
        Maintenance: {% if modules_info[3] %}Oui{% else %}Non{% endif %}<br>
        Status: {{ modules_info[4] }}<br>
        Url du Socket: {{ modules_info[5] }}<br>
        <button onclick="showModuleEditForm()">Modifier les informations</button>
    </p>
    <form method="post" id="module-form" hidden>
        ID: {{ modules_info[0] }}<br>
        Nom: {{ modules_info[1] }}<br>
        Url: <a href="{{ modules_info[2] }}">{{ modules_info[2] }}</a><br>
        Maintenance: {% if modules_info[3] %}Oui{% else %}Non{% endif %}<br>
        Status: {{ modules_info[4] }}<br>
        Url du Socket: {{ modules_info[5] }}<br>
        <button>Valider les informations</button>
    </form>
</body>
</html>