<!DOCTYPE html>
<html lang="fr" data-theme="{{ local_user_theme[0] }}">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Olympe</title>
    <link rel="icon" href="{{ url_for('static', filename='SVG/logo.svg') }}" sizes="any" type="image/svg+xml">
    <script type="application/javascript" src="{{ url_for('static', filename='JS/Administration/show_form_module_edit.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include "PlaceHolder/sidebar.html" %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
        <div id="button-bar" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Premier bouton -->
            <div class="w-full">
                <button onclick="window.location.href='{{ url_for('show_modules') }}'" class="btn btn-primary w-full">
                    Tout les modules
                </button>
            </div>

            <!-- Deuxième bouton (conditionnel) -->
            {% if user_permission[20] or user_permission[32] %}
                <div class="w-full">
                    <form action="{{ url_for('maintenance') }}" method="post" id="maintenance_mode" class="w-full">
                        <input type='hidden' name='module_name' value="{{ selected_module_info[2] }}"/>
                        <button type="button" class="btn btn-error w-full" onclick="maintenance_mode()">
                            Activer le mode maintenance
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="card card-side bg-base-100 shadow-xl" id="module-data">
            <div class="card-body">
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Identifiant</div>
                    <div class="font-semibold">{{ selected_module_info[0] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Nom</div>
                    <div class="font-semibold">{{ selected_module_info[2] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Lien</div>
                    <div class="font-semibold"><a href="{{ selected_module_info[3] }}" class="link" target="_blank">{{ selected_module_info[3] }}</a></div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Maintenance</div>
                    <div class="font-semibold">{% if selected_module_info[4] %}Oui{% else %}Non{% endif %}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Status</div>
                    <div class="font-semibold">{{ selected_module_info[5] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">URL du socket</div>
                    <div class="font-semibold">{{ selected_module_info[3] }}{% if not selected_module_info[6].startswith('/') and not selected_module_info[3].endswith('/') %}/{% endif %}{{ selected_module_info[6] }}</div>
                </div>
                {% if date[1][0] > 0 or date[1][1] >= 3%}
                    <div class="bg-error p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Dernière connexion</div>
                        <div class="font-semibold">Attention, le module n'a pas envoyé de confirmation au serveur depuis un certain temps ! Contacter les administrateurs du site !</div>
                        <div class="font-semibold">{{ date[0] }} - Il y a {% if date[1][0] >= 0 %}{{ date[1][0] }} jours, {% endif %}{% if date[1][1] >= 0 %}{{ date[1][1] }} heures, {% endif %}{{ date[1][2] }} minutes et {{ date[1][3] }} secondes.</div>
                    </div>
                {% else %}
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Dernière connexion</div>
                        <div class="font-semibold">{{ date[0] }} - Il y a {% if date[1][0] != 0 %}{{ date[1][0] }} jours, {% endif %}{% if date[1][1] != 0 %}{{ date[1][1] }} heures, {% endif %}{{ date[1][2] }} minutes{% if date[1][0] <= 0 and date[1][1] <= 0 %} et {{ date[1][3] }} secondes.{% else %}.{% endif %}</div>
                    </div>
                {% endif %}
                <div class="card-actions justify-end">
                    <button class="btn btn-primary" onclick="showModuleEditForm()">Modifier les modifications du comptes</button>
                </div>
            </div>
        </div>
        <div class="card card-side bg-base-100 shadow-xl" id="module-form" hidden>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" name="token" value="{{ selected_module_info[1] }}">

                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Identifiant</div>
                        <div class="font-semibold">{{ selected_module_info[0] }}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Nom</div>
                        <div class="font-semibold">{% if not user_permission[28] %}{{ selected_module_info[2] }}{% else %}<label><input type="text" name="module_name" value="{{ selected_module_info[2] }}" class="input input-accent"></label>{% endif %}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Lien</div>
                        <div class="font-semibold">{% if not user_permission[29] %}<a href="{{ selected_module_info[3] }}" target="_blank">{{ selected_module_info[2] }}</a>{% else %}<label><input type="text" name="module_url" value="{{ selected_module_info[3] }}" class="input input-accent"></label>{% endif %}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Maintenance</div>
                        <div class="font-semibold">{% if selected_module_info[4] %}Oui{% else %}Non{% endif %}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Status</div>
                        <div class="font-semibold">{{ selected_module_info[5] }}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">URL du socket</div>
                        <div class="font-semibold">{% if not user_permission[30] %}{{ selected_module_info[3] }}{{ selected_module_info[6] }}{% else %}<label><input type="text" name="socket_url" value="{{ selected_module_info[6] }}" class="input input-accent"></label>{% endif %}</div>
                    </div>
                    {% if date[1][0] > 0 or date[1][1] >= 3%}
                        <div class="bg-error p-4 rounded-lg">
                            <div class="text-sm opacity-70 mb-1">Dernière connexion</div>
                            <div class="font-semibold">Attention, le module n'a pas envoyé de confirmation au serveur depuis un certain temps ! Contacter les administrateurs du site !</div>
                            <div class="font-semibold">{{ date[0] }} - Il y a {% if date[1][0] >= 0 %}{{ date[1][0] }} jours, {% endif %}{% if date[1][1] >= 0 %}{{ date[1][1] }} heures, {% endif %}{{ date[1][2] }} minutes et {{ date[1][3] }} secondes.</div>
                        </div>
                    {% else %}
                        <div class="bg-base-200 p-4 rounded-lg">
                            <div class="text-sm opacity-70 mb-1">Dernière connexion</div>
                            <div class="font-semibold">{{ date[0] }} - Il y a {% if date[1][0] != 0 %}{{ date[1][0] }} jours, {% endif %}{% if date[1][1] != 0 %}{{ date[1][1] }} heures, {% endif %}{{ date[1][2] }} minutes{% if date[1][0] <= 0 and date[1][1] <= 0 %} et {{ date[1][3] }} secondes.{% else %}.{% endif %}</div>
                        </div>
                    {% endif %}
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary" onclick="showModuleEditForm()">Modifier les modifications du comptes</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        function maintenance_mode(){
            if (confirm('Êtes vous sûr de vouloir activer le mode maintenance sur ce module ?')) {
                let form = document.getElementById('maintenance_mode');
                let input = document.createElement("input");
                input.type = "hidden";
                form.appendChild(input);
                form.submit();
            } else {
                console.log('Annulation de la requete.');
            }
        }
    </script>
</body>
</html>

