<!DOCTYPE html>
<html lang="fr" data-theme="{{ local_user_theme[0] }}">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Olympe</title>
    <script type="application/javascript" src="{{ url_for('static', filename='JS/Administration/show_form_module_edit.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include "PlaceHolder/sidebar.html" %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
        <button onclick="window.location.href='{{ url_for('show_modules') }}'" class="btn btn-secondary">Tout les modules</button>
        <div class="card card-side bg-base-100 shadow-xl" id="module-data">
            <div class="card-body">
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Identifiant</div>
                    <div class="font-semibold">{{ selected_module_info[0] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Nom</div>
                    <div class="font-semibold">{{ selected_module_info[2] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Lien</div>
                    <div class="font-semibold"><a href="{{ selected_module_info[3] }}" class="link">{{ selected_module_info[3] }}</a></div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Maintenance</div>
                    <div class="font-semibold">{% if selected_module_info[4] %}Oui{% else %}Non{% endif %}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Status</div>
                    <div class="font-semibold">{{ selected_module_info[5] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">URL du socket</div>
                    <div class="font-semibold">{{ selected_module_info[3] }}{% if not selected_module_info[6].startswith('/') and not selected_module_info[3].endswith('/') %}/{% endif %}{{ selected_module_info[6] }}</div>
                </div>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary" onclick="showModuleEditForm()">Modifier les modifications du comptes</button>
                </div>
            </div>
        </div>
        <div class="card card-side bg-base-100 shadow-xl" id="module-form" hidden>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" name="token" value="{{ selected_module_info[1] }}">

                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Identifiant</div>
                        <div class="font-semibold">{{ selected_module_info[0] }}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Nom</div>
                        <div class="font-semibold">{% if not user_permission[28] %}{{ selected_module_info[2] }}{% else %}<label><input type="text" name="module_name" value="{{ selected_module_info[2] }}" class="input input-accent"></label>{% endif %}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Lien</div>
                        <div class="font-semibold">{% if not user_permission[29] %}<a href="{{ selected_module_info[3] }}">{{ selected_module_info[2] }}</a>{% else %}<label><input type="text" name="module_url" value="{{ selected_module_info[3] }}" class="input input-accent"></label>{% endif %}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Maintenance</div>
                        <div class="font-semibold">{% if selected_module_info[4] %}Oui{% else %}Non{% endif %}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Status</div>
                        <div class="font-semibold">{{ selected_module_info[5] }}</div>
                    </div>
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">URL du socket</div>
                        <div class="font-semibold">{% if not user_permission[30] %}{{ selected_module_info[3] }}{{ selected_module_info[6] }}{% else %}<label><input type="text" name="socket_url" value="{{ selected_module_info[6] }}" class="input input-accent"></label>{% endif %}</div>
                    </div>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary" onclick="showModuleEditForm()">Modifier les modifications du comptes</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>