<!DOCTYPE html>
<html lang="fr" data-theme="{{ local_user_theme[0] }}">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Olympe</title>
    <link rel="icon" href="{{ url_for('static', filename='SVG/logo.svg') }}" sizes="any" type="image/svg+xml">
    <script type="application/javascript" src="{{ url_for('static', filename='JS/show_edit_user_form.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='JS/Administration/desactivate_account.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='JS/Administration/delete_account.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include "PlaceHolder/sidebar.html" %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
        <div id="button-bar" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% if user_permission[27] %}
                <div class="w-full">
                    <button type="button" class="btn btn-warning w-full" onclick="window.location.href='{{ url_for('add_modules') }}'">
                        Ajouter un module
                    </button>
                </div>
            {% endif %}
        </div>
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Url</th>
                    <th scope="col">Status</th>
                    <th scope="col">Plus d'info</th>
                </tr>
            </thead>
            <tbody>
                {% for element in modules_info %}
                    <tr>
                        <th scope="row">{{ element[0] }}</th>
                        <td>{{ element[2] }}</td>
                        <td><a href="{{ element[3] }}" target="_blank" class="link">{{ element[3] }}</a></td>
                        <td>{{ element[5] }}</td>
                        <td><button onclick="window.location.href='{{ url_for('show_modules', module_token=element[1]) }}'" class="btn btn-secondary">Plus d'info</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>