<!DOCTYPE html>
<html lang="fr" data-theme="{{ user_information[13] }}">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Olympe</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="application/javascript" src={{ url_for('static', filename='JS/show_edit_user_form.js') }}></script>
</head>
<body>
    {% include "PlaceHolder/sidebar.html" %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
        <h1>Page d'accueil</h1>
    </main>
</body>
</html>