<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cantina - Olympe</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="application/javascript" src={{ url_for('static', filename='JS/show_edit_user_form.js') }}></script>
</head>
<body>
    {% include "PlaceHolder/sidebar.html" %}
    <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
        <div class="card card-side bg-base-100 shadow-xl" id="user-info">
            <figure class="px-4 py-4">
                <div class="w-48 h-full">
                    <img
                        class="w-full h-full rounded-lg object-contain"
                        src="{% if user_information[7] == 0 %}
                            {{ url_for('static', filename='ProfilePicture/general-logo.png') }}
                            {% else %}
                            {{ url_for('static', filename='ProfilePicture/'+user_information[1]+'.png') }}
                            {% endif %}"
                        alt="profile_picture"
                    />
                </div>
            </figure>
            <div class="card-body">
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Nom d'utilisateur</div>
                    <div class="font-semibold">{{ user_information[2] }}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Mot de passe</div>
                    <div class="font-semibold">••••••••••••••••</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Email</div>
                    <div class="font-semibold">{{user_information[4]}}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Authetification à deux facteurs</div>
                    <div class="font-semibold">{{user_information[4]}}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Thème</div>
                    <div class="font-semibold">{{user_information[13]}}</div>
                </div>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary" onclick="showUserForm()">Modifier mes informations</button>
                </div>
            </div>
        </div>

        <div class="card card-side bg-base-100 shadow-xl" id="user-info-form" hidden="hidden">
            <figure class="px-4 py-4">
                <div class="w-48 h-full">
                    <img
                        class="w-full h-full rounded-lg object-contain"
                        src="{% if user_information[7] == 0 %}
                            {{ url_for('static', filename='ProfilePicture/general-logo.png') }}
                            {% else %}
                            {{ url_for('static', filename='ProfilePicture/'+user_information[1]+'.png') }}
                            {% endif %}"
                        alt="profile_picture"
                    />
                </div>
            </figure>
            <div class="card-body">
                {% if user_permission[3] %}
                    <label>
                        Username:
                        <input type="text" value="{{ user_information[2] }}" name="username">
                    </label><br>
                {% else %}
                    <div class="bg-base-200 p-4 rounded-lg">
                        <div class="text-sm opacity-70 mb-1">Nom d'utilisateur</div>
                        <div class="font-semibold">{{ user_information[2] }}</div>
                    </div>
                {% endif %}
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Mot de passe</div>
                    <div class="font-semibold">••••••••••••••••</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Email</div>
                    <div class="font-semibold">{{user_information[4]}}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Authetification à deux facteurs</div>
                    <div class="font-semibold">{{user_information[4]}}</div>
                </div>
                <div class="bg-base-200 p-4 rounded-lg">
                    <div class="text-sm opacity-70 mb-1">Thème</div>
                    <div class="font-semibold">{{user_information[13]}}</div>
                </div>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary" onclick="showUserForm()">Modifier mes informations</button>
                </div>
            </div>
        </div>
        <div hidden>
            <form method="post" action="{{ url_for('user_space') }}" enctype="multipart/form-data">
                {% if user_permission[6] %}
                    <label>
                        Profil Picture:
                        <input type="file" accept="image/png" name="profile_picture"><br>
                    </label>
                {% else %}
                    Profil Picture: {{ user_information[7] }}<br>
                {% endif %}
                {% if user_permission[3] %}
                    <label>
                        Username:
                        <input type="text" value="{{ user_information[2] }}" name="username">
                    </label><br>
                {% else %}
                    Username: {{ user_information[2] }}<br>
                {% endif %}
                {% if user_permission[5] %}
                    <label>
                        Password:
                        <input type="password" placeholder="••••••••••••••••" name="password1">
                    </label>
                    <label>
                        Confirm Password:
                        <input type="password" placeholder="••••••••••••••••" name="password2">
                    </label><br>
                {% else %}
                    Password: ••••••••••••••••<br>
                {% endif %}
                {% if user_permission[4] %}
                    <label>
                        Email:
                        <input type="email" value="{{ user_information[4] }}" name="email">
                    </label><br>
                {% else %}
                    Email: {{ user_information[4] }}<br>
                {% endif %}
                Email verified: {% if not user_information[5] or user_information[5] == 0 %} Non {% else %} Oui {% endif %}<br>
                A2F: {% if not user_information[8] or user_information[8] == 0 %} Désactivé {% else %} Activé {% endif %}<br>
                Desactivated: {% if not user_information[12] or user_information[12] == 0 %} Non {% else %} Oui {% endif %}<br>
                {% if user_permission[8] %}
                    <label>
                        Theme:
                        <input list="theme" value="{{ user_information[13] }}" name="theme">
                        <datalist id="theme">
                            <option name="white">White</option>
                            <option name="dark">Dark</option>
                        </datalist>
                    </label><br>
                {% else %}
                    Theme: {{ user_information[13] }}<br>
                {% endif %}
                <button type="submit">Modifier</button>
            </form>
        </div>
    </main>
</body>
</html>