<!-- Sidebar -->
<aside class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full md:translate-x-0"  aria-label="Sidenav" id="drawer-navigation">
    <div class="overflow-y-auto pt-2 px-3 h-full">
        <div class="flex flex-wrap flex-col items-center p-2">
            <div class="flex flex-wrap flex-col items-center p-2">
                <div class="avatar rounded-full w-20 h-20">
                    <img src="{{ url_for('get_profile_picture')}}"
                     class="rounded-full w-20 h-20 object-cover overflow-hidden"
                     alt="L'image n'existe pas">
                </div>
                <p class="font-bold text-wrap">Cantina - Olympe</p>
            </div>
        </div>
        <ul class="menu space-y-2">
            <li>
                <a href="{{ url_for("home") }}" class="flex items-center p-2 hover:bg-base-content/20 {% if request.path == url_for('home') %}active{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="flex-shrink-0 w-6 h-6 transition duration-75"
                        aria-hidden="true" width="24" height="24">
                        <path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"></path>
                    </svg>
                    <span class="ml-3">Accueil</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for("user_space") }}" class="flex items-center p-2 {% if request.path == url_for('user_space') %}active{% endif %}">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-6 h-6 transition duration-75" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"></path>
                    </svg>
                    <span class="ml-3">Mon compte</span>
                </a>
            </li>
        </ul>
        {% if user_permission.show_specific_account or user_permission.edit_username_admin or user_permission.edit_email_admin or user_permission.edit_password_admin or user_permission.edit_profile_picture_admin or user_permission.create_user or user_permission.delete_account or user_permission.desactivate_account or user_permission.edit_permission or user_permission.admin or user_permission.allow_edit_username or user_permission.allow_edit_email  or user_permission.allow_edit_password  or user_permission.allow_edit_profile_picture or user_permission.allow_edit_A2F or user_permission.show_all_modules or user_permission.on_off_modules  or user_permission.on_off_maintenance or user_permission.delete_modules  or user_permission.add_modules or user_permission.edit_name_module or user_permission.edit_url_module or user_permission.edit_socket_url  or user_permission.edit_smtp_config %}
            <ul class="menu pt-5 mt-5 space-y-2 border-primary border-t">
                {% if user_permission.show_specific_account or user_permission.edit_username_admin or user_permission.edit_email_admin or user_permission.edit_password_admin or user_permission.edit_profile_picture_admin or user_permission.create_user or user_permission.delete_account or user_permission.desactivate_account or user_permission.edit_permission or user_permission.admin %}
                    <li>
                        <a href="{{ url_for('show_user') }}" class="flex items-center p-2 {% if request.path == url_for('show_user') %}active{% endif %}">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-6 h-6 transition duration-75" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"></path>
                            </svg>
                            <span class="ml-3">Comptes Utilisateurs</span>
                        </a>
                    </li>
                {% endif %}
                {% if user_permission.allow_edit_username or user_permission.allow_edit_email  or user_permission.allow_edit_password  or user_permission.allow_edit_profile_picture or user_permission.allow_edit_A2F or user_permission.admin %}
                    <li>
                        <a href="{{ url_for('global_permission') }}" class="flex items-center p-2 {% if request.path == url_for('global_permission') %}active{% endif %}">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-6 h-6 transition duration-75" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 4.556-3.04 8.44-7.29 9.71a1.5 1.5 0 0 1-1.42 0C7.04 20.44 4 16.556 4 12V6.75a1.5 1.5 0 0 1 1.5-1.5c1.657 0 3.208-.44 4.5-1.25a1.5 1.5 0 0 1 1.5 0c1.292.81 2.843 1.25 4.5 1.25a1.5 1.5 0 0 1 1.5 1.5V12Z"></path>
                            </svg>
                            <span class="ml-3">Permission générale</span>
                        </a>
                    </li>
                {% endif %}
                {% if user_permission.show_all_modules or user_permission.on_off_modules  or user_permission.on_off_maintenance or user_permission.delete_modules  or user_permission.add_modules or user_permission.edit_name_module or user_permission.edit_url_module or user_permission.edit_socket_url or user_permission.admin %}
                    <li>
                        <a href="{{ url_for('show_modules') }}" class="flex items-center p-2 {% if request.path == url_for('show_modules') %}active{% endif %}">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-6 h-6 transition duration-75" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z"></path>
                            </svg>
                            <span class="ml-3">Gestion des modules</span>
                        </a>
                   </li>
                {% endif %}
                {% if user_permission.edit_smtp_config or user_permission.admin %}
                    <li>
                        <a href="{{ url_for('smtp_config') }}" class="flex items-center p-2 {% if request.path == url_for('smtp_config') %}active{% endif %}">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 w-6 h-6 transition duration-75" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"></path>
                            </svg>
                            <span class="ml-3">Configuration SMTP</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <!-- Divider -->

        <ul class="menu pt-5 mt-5 space-y-2 border-primary border-t">
            {% for element in modules_info %}
                <li>
                    <button type="button" class="btn flex items-center gap-2"
                        {% if element.maintenance %} title="En maintenance" disabled {% else %}onclick="window.open('{{ element.fqdn }}', '_blank')"{% endif %}>
                        <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
                        </svg>
                        <span>{{ element.name }}</span>
                    </button>
                </li>
            {% endfor %}
            <li>
                <a href="{{ url_for('sso_logout') }}" class="flex items-center p-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="flex-shrink-0 w-6 h-6  transition duration-75" aria-hidden="true" width="24" height="24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9"></path>
                    </svg>
                    <span class="ml-3">Me déconnecter</span>
                </a>
            </li>
        </ul>
    </div>
</aside>